* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}
@font-face {
    font-family: 'Noteworthy';
    src: url('fonts/Noteworthy-Light.eot');
    src: url('fonts/Noteworthy-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Noteworthy-Light.woff') format('woff'),
    url('fonts/Noteworthy-Light.ttf')  format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_lamala';
    src: url('fonts/lamala.eot');
    src: local('☺'), url('fonts/lamala.woff') format('woff'), url('fonts/lamala.ttf') format('truetype'), url('fonts/lamala.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
a {
    text-decoration: none;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,8c8c8c+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #8c8c8c 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#8c8c8c)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#8c8c8c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #ffffff 0%,#8c8c8c 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%,#8c8c8c 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #ffffff 0%,#8c8c8c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8c8c8c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color:#ffffff;
    font-size: 16px;
    font-family: 'Noteworthy';
    text-align: center;
}

body, h2, h3, h4, p {
    font-weight: 300
}

h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

main {
    margin: auto;
    max-width: 65rem;
    max-height: 100vh;
    width: 90%;
    padding: 2rem;
}

p {
    font-size: 1.3rem;
}
h2{

    font-family:'Conv_lamala',Sans-Serif;
}

/*=================================================================
header
===================================================================*/


/*=================================================================
form
===================================================================*/
.form{
    background: url("../images/backForm.png") no-repeat;
    background-size: 336px ;
    height: 523px;
    transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    width: 336px;
}
.logo{
    max-width: 200px;

}
.form,.logo{
    display: inline-block;
    vertical-align: middle;
}
.form h2{
    font-size: 4rem;
    line-height: 0.6em;
    margin-top: 0.5rem;
    max-width: 265px;
    text-transform: uppercase;
}
.form p{
    font-size: 1rem;
    line-height: 1.5em;
    margin: .8rem 0;
    max-width: 265px;
}
.form input, .form textarea{
    background: transparent ;
    border:  none;
    color: #999;
    font-size: 1.4rem;
    display: block;
    margin: 26px 40px 10px;
    line-height: 1.6em;
}
.form textarea{
    height: 132px;
    width: 188px;
}
.form button{
    background: transparent;
    border:  none;
    color: #ED0F11;
    font-size: 1rem;
    display: block;
    position: relative;
    left: 163px;
    top: 13px;
    padding: 0 15px;

}
.form a{
    color: #FFF;
    display: block;
    width: 264px;
    margin: 15px 0;
    font-size: 1.1rem;
}
h1{
    color: #000;
    font-size: 3rem;
    font-weight: lighter;
    line-height: 0.7em;
    margin-top: 50px;
}
h3{
    color: #999999;
    font-size: 2rem;
}

@media (max-width: 600px) {
    .form {
        background: url("../images/backFormMobile.png") no-repeat;
        background-size: 270px ;
        height: 598px;
        transform: rotate(2deg);
        width: 270px;
    }
    .logo{
        max-width: 150px;
    }
    .form button{
        top: 17px;
    }
    .form a {;
        width: 264px;
        margin: 20px 0;
    }
    h1 {

        font-size: 1.5rem;
    }
    h3{
        font-size: 1rem;
        margin: 4px;
    }


}
.thanks{
    font-size: 4rem;
    color: #4E4E4E;
}